.bg {
  /* background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg"); */
  background-image: url(./images/kaki.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15%;
  color: rgb(228, 228, 228);
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
#main-page-title {
  font-size: 2.4em;
  font-weight: lighter;
}
.bg p {
  font-size: 1.2em;
  text-shadow: 2px 2px 8px #000000;
  box-shadow: 8px #000000;
}
