.main {
  color: rgb(107, 104, 104);
  padding-top: 7%;
  font-family: "Balsamiq Sans", cursive;
}

.page-title {
  /* text-align: center; */
  margin-bottom: 2%;
  border-left: 2px solid rgb(107, 104, 104);
  padding-left: 10px;
  color: rgb(107, 104, 104);
}
