#truck_component {
  padding: 3%;

  .button-wrapper {
    height: 30%;
    min-height: 30%;
    max-height: 30%;
    margin-top: 8%;
    button {
      height: 100%;
      width: 90%;
      color: white;
      font-size: 1.4em;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);

      span {
        margin-left: 4%;
      }
    }
  }
  .box-shadow {
    background-image: linear-gradient(
        rgba(167, 224, 232, 0.2),
        rgba(189, 211, 214, 0.2)
      ),
      url(./images/background.jpg);
    background-size: cover;
    height: 40vh;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.18),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
    .left-column {
      height: 100%;
      padding-left: 8%;
      img {
        height: "100%";
      }
    }
    .column-right {
      padding: 3%;
      padding-right: 5%;
      border: none;
      margin-top: 1%;
    }
  }
}
