.products_bg {
  padding-top: 0px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(../../../../components/common/images/products_bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;

  .add_button {
    color: grey;
  }
  .add_button:hover {
    color: white;
  }
}

.description {
  font-size: 1.1em;
}

.pdt_2p {
  padding-top: 2%;
}

.fallback-spinner {
  padding-top: 30%;
}
